datasets==2.15.0
func_timeout==4.3.5
gradio==4.36.0
langchain==0.2.2
langchain_community==0.2.3
langchain_google_genai==1.0.6
numpy==1.26.4
openai==0.27.2
pandas==2.0.1
Requests==2.32.3
tiktoken==0.4.0
tqdm==4.66.4
transformers==4.41.2
